In [4]:
import numpy as np
import pandas as pd

In [5]:
# inputs
trends_x = ['Google.csv', 'battery.csv', 'Elon Musk.csv', 'solar.csv']

# label
trend_y = 'Tesla.csv'

In [7]:
x = []
for each in trends_x:
    x.append(pd.read_csv(each))

In [21]:
x[2]

         Date  Volume
0  2017-01-15     NaN
1  2017-01-16     NaN
2  2017-01-17     NaN
3  2017-01-18     NaN
4  2017-01-19     NaN
5  2017-01-20     NaN
6  2017-01-21     NaN

In [20]:
x[0].shape, x[1].shape, x[2].shape, x[3].shape

((470, 2), (470, 2), (7, 2), (470, 2))